body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: lightgray;
}

.container {
  background: whitesmoke;
  min-height: 1000px;
  max-width: 1140px;
  width: 100%;
  padding: 20px 15px;
  margin: 20px auto;
}

.page-title {
  padding: 10px;
  border: solid 1px lightslategray;
}

#tab-nav {
  background: lightslategray;
}
#tab-nav span.tabtitle {
}
#tab-nav span.tabnav {
  display: inline-block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#tab-nav span.active {
  background: darkslategray;
}
#tab-contents {
  padding: 15px;
}
#tab-contents div.tabcont {
  display: none;
}
#tab-contents div.active {
  display: block;
}
.plane {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 6px 12px;
  margin: 3px 0;
  border: solid darkgrey 1px;
  font-size: 1rem;
}
.plane-description {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 2px 12px;
}
.plane-uid {
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.plane-icon {
  display: flex;
  padding: 0 12px;
}
.plane-icon i {
  font-size: 2.25rem;
}
.content-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #17a2b8;
  border-color: #17a2b8;
  cursor: pointer;
}
